* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  width: 20%;
}
input[type="text"], input[type="password"] {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  padding: 10px;
}
input[type="text"]:focus, input[type="password"]:focus {
  border-bottom: 2px solid #007bff;
}
.input-group {
  margin: 1rem 0;
  position: relative;
}
.input-group > input {
  background: transparent;
}
.input-group > label {
  position: absolute;
  left: 0px;
  top: 12px;
  font-weight: bold;
  color: #888;
  pointer-events: none;
  transition: 
    transform 0.3s ease-in-out,
    font-size 0.3s ease-in-out,
    color 0.3s,
    padding-bottom 0.3s;
  background: #fff;
}
.input-group > input:focus + label,
.input-group > input:valid + label {
  transform: translateY(-24px) scale(0.9);
  font-size: 0.95em;
}
.input-group > input:not(:focus):not(:valid) + label {
  padding-bottom: 0;
  color: #888;
}
.remember{
  display: flex;
}
.remember input[type="checkbox"] {
  margin-right: 10px;
}
.remember label {
  font-size: 0.9em;
  color: #555;
  margin-right: auto;
}
.login-button{
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  background-color: transparent;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
.register-link {
  text-align: center;
  margin-top: 1rem;
}
@media screen and (max-width: 600px) {
  .container {
    width: 80%;
  }
  input[type="text"], input[type="password"] {
    font-size: 0.9em;
  }
  .login-button {
    font-size: 0.9em;
  }
  .input-group > label {
    font-size: 0.85em;
  }
  
}